<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "
  -//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="org.magiccat.domain.dic.Dic"/>
    <mapping class="org.magiccat.domain.dic.ColumnDic"/>
    <mapping class="org.magiccat.domain.Content"/>
    <mapping class="org.magiccat.domain.Comment"/>
    <mapping class="org.magiccat.domain.Blog"/>
    <mapping class="org.magiccat.domain.BlogComment"/>
    <mapping class="org.magiccat.domain.Event"/>
    <mapping class="org.magiccat.domain.EventComment"/>
    <mapping class="org.magiccat.domain.SiteUser"/>

  </session-factory>
</hibernate-configuration>